* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
}
.navhead {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#navbar {
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    background-color: aqua;
    color: black;
    width: 250px;
    height: 100%;
    overflow: auto;
}

#navbar li:hover {
    color: red;
}

li {
    list-style-type: none;
    text-align: center;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#main-doc {
    display: block;
    margin-left: 300px;
    padding: 20px;
    position: absolute;
}

.main-section {
    margin-bottom: 30px;
}

.maintitle {
    margin-bottom: 10px;
    text-align: left;
}

p {
    display: block;
    text-align: left;
    margin-left: 10px;
}

ul {
    list-style-type: disc;
}

.introlist {
    margin-left: 50px;
    display: block;
    text-align: left;
}

.wysaklist {
    margin-left: 50px;
    display: block;
    text-align: left;
}

code {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px;
    color: black;
    background-color: aqua;
    text-align: left;
    display: block;
}

.list {
    text-align: center;
}

@media screen and (max-width:800px) {
    #navbar {
        width: 100%;
        position: relative;
        text-align: center;
    }
    #main-doc {
        margin: 10px;
    }
}
